.heading {
  font-size: 3rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
nav {
  border-bottom: 1px solid #3d3d3d;
}
textarea {
  font-size: 1rem!important;
  height: 200px;
  background: #3d3d3d;
  color: #fff;
}
input[type="checkbox"] {
  margin-right: 1rem;
}
input[type="submit"] {
  display: block;
}
figure#tree {
  float:left;
  width:-webkit-fill-available;
  overflow-y: auto;
  border: 1px solid #bbb;
  padding: 1rem;
}
